body {
    font-family: 'Sixtyfour', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ajusta la altura de la página */
    background-color: #fff; /* Fallback color si los degradados no se cargan */
    background-image: linear-gradient(to bottom right, #ff9966, #ff5e62); /* Degradado predeterminado */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: 'Honk', system-ui;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    color: #fff;
}
h2{
    color: #fff;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div header {
    top: 0px;
    display: flex;
    background-color:black;
    position: fixed;
    width: 100%;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    
}

div header nav ul {
    display: flex;
    gap: 1.1em;
    flex-wrap: wrap;
}
div header a video{
    width: 120px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header nav ul li a {
    color: rgb(212, 0, 255);
    font-family: 'Honk', system-ui;
    font-size: 22px;
}

footer p{
    font-size: 10px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Inicialmente un círculo */
    margin-bottom: 20px;
    transition: border-radius 0.3s ease; /* Transición suave */
}

.profile-pic:hover {
    border-radius: 10px; /* Rectangular al pasar el ratón */
}
